* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.overlay p {
  text-align: start;
}
.akan {
  color: white;
}
.akan p {
  margin: 15px 0;
}
.button {
  padding: 3px 15px;
  border: none;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: end;
}
.button:hover {
  background-color: #F2CB2D;
  color: black;
}
.diss {
  margin-top: 10px;
  font-weight: 700;
  color: #F2CB2D;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.diss em {
  color: #286A3F;
}
.diss span {
  color: #900000;
}
.diss strong {
  color: #d9ff00;
}
img {
  width: 30vw;
}